.inner-container {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 25px;
}
.full-width{
	grid-column: 1/3
}
@media (max-width: 800px) {
	.inner-container { display: block; } 
	.lead {padding-left: 20px;}
}